.col-9{
  background-color: grey;
}

.col-4 {
  background-color: limegreen;
}

.col-5 {
  background-color: black;

}

.col-2 {
  background-color:darkgoldenrod;

}

.col-3{
  background-color:forestgreen;
}


.col-7{
  background-color: darkgreen;
}

.col-1{
  background-color: skyblue;
}

.col-8 {
  background-color: gold;
}
